/* HOME PAGE SLIDER INNER BOXES */

/* .prev-arrow
{
background-color: red;
}

.next-arrow
{
background-color: green !important;
z-index: 1 !important;
} */

*,
::after,
::before {
  box-sizing: unset !important;
}

.react-slick-slider {
  margin: 0px 45px auto;
  width: 90%;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .react-slick-slider {
    margin: 0px 58px auto;
    width: 85%;
    position: relative;
    bottom: 60px;
    z-index: 1;
    padding-left: 8px;
  }
  .hp-slide {
    width: 200px !important;
  }
  .hp-slide1 {
    width: 200px !important;
  }
}

@media screen and (max-width: 425px) {
  .react-slick-slider {
    margin: 0px 48px auto;
    width: 75%;
    position: relative;
    bottom: 60px;
    z-index: 1;
    padding-left: 8px;
  }
}

@media screen and (max-width: 375px) {
  .react-slick-slider {
    margin: 0px 0px auto !important;
    width: 90%;
    position: relative;
    bottom: 60px;
    z-index: 1;
    padding-left: 30px;
  }
  .hp-slide {
    width: 210px !important;
  }
  .hp-slide1 {
    width: 210px !important;
  }
}

@media screen and (max-width: 320px) {
  .react-slick-slider {
    margin: 0px 25px auto;
    width: 80%;
    position: relative;
    bottom: 60px;
    z-index: 1;
    padding-left: 8px;
  }
  .hp-slide {
    width: 165px !important;
  }
  .hp-slide1 {
    width: 165px !important;
  }
  .hp-slider-box-title {
    font-size: 21.5px !important;
  }
}

.hp-slide-box-border-wrap {
  /* padding: 1rem; */
  position: relative;
  padding: 3.5px;
  border-radius: 20px;
  width: fit-content !important;
  background: gray;
  /* margin-bottom: 50px; */
  opacity: 0.8;
}

.hp-slide-box-border-wrap:hover {
  background: linear-gradient(to right, #672d91, #f7921c, #f7921c);
  opacity: 1;
  cursor: pointer;
}

.hp-active {
  background: linear-gradient(to right, #672d91, #f7921c, #f7921c);
}
.hp-inactive {
  background: gray;
}

.blur {
  background: white;
  /* background-size:cover; */
  width: 220px;
  height: 312px;
  display: flex;
  filter: blur(20px);
  /* position:absolute; */
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: -50px;
}
.hp-slide p {
  font-weight: bold;
  position: relative;

  z-index: 9999;

  filter: blur(0px);
}
.hp-slide1 p {
  font-weight: bold;
  position: relative;

  z-index: 9999;

  filter: blur(0px);
}

.hp-slide {
  width: 220px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: white;

  padding: 2rem;
}

.hp-slide1 {
  width: 220px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: white;

  padding: 2rem;
}
.transparent {
  background-color: white;
}

.hp-slider-box-title {
  flex: 0.2;
  font-size: 25px;
  font-weight: bold;
  font-family: bold;
  /* margin: 10px 0px auto; */
}

.hp-slider-box-text {
  flex: 0.25;
  font-size: 15px;
  text-align: center;
  font-family: regular;
  /* margin: 10px 0px auto; */
}

.hp-slider-box a {
  margin-bottom: 50px;
}
