.course-register-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background:#E4E8FF ;
    height: 100%;
}
@media only screen and (max-width:1100)
{

}
@media only screen and (max-width:786)
{
    
}
@media only screen and (max-width:550)
{
    
}
.c-register-heading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-reg-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .reg-frame
{
    height: 100%;
    width: 100%;
} */
.reg-frame-img
{
    height: 350px;
    width: 450px; 
}
.c-reg-text h1
{
font-size: 45px;
font-weight: 700;
color:#654EA3 ;
margin: 10px 0;
}
.c-reg-text
{
    color: #A17AB4 ;
}
.reg-btn
{
    height: 20px;
    width: 150px !important;
    background: linear-gradient(to right, #654EA3, #654EA3, #A17AB4);
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-style: none !important;
    border-width: 0px;
    color: white;
    font-weight: bold !important;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
}

.reg-btn:hover
{
    background:  linear-gradient(to right, #A17AB4, #654EA3, #654EA3);;
  color: white;
}
.reg-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.r-input-box
{
    background: white !important;
    border-radius: 5px;
}

@media only screen and (max-width:550px)
{
    .course-register-form
    {
       
      height: 100%;
       flex-wrap: wrap;
    }
    .reg-frame-img
{
    height: 150px;
    width: 250px; 
}
}