/* new */

.merch-header-bg {
  background: repeating-linear-gradient(
    -75deg,
    #fff,
    #fff 35%,
    #f9e7ba 0%,
    #f9e7ba 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
}
.mh-content {
  position: absolute;
  height: 550px;
  width: 85%;
  align-items: center;
  display: flex;
}
.mh-left {
  width: 50%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.mh-right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para-merch {
  width: 85%;
  font-size: 24px;
}
.merch-header {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySlides {
  height: 100%;
  width: 100%;
}
.header-module {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 830px;
}
.merch-head-text {
  position: absolute;
  color: #525252;
  margin: 50px;
  width: 45%;

  bottom: 0;
}
.heading-merch {
  font-weight: 700;
  color: #979696;
  font-size: 58px;
  padding-left: 0px;
  text-align: left;
}
.m-logo {
  top: 0px;
  background: url("../images/logo.png") no-repeat;
  height: 65px;
  width: 200px;

  position: absolute;
}
.buy-now {
  background-color: #fff;
  font-weight: 700;
  width: 180px;
  height: 50px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #979696;
  box-shadow: 0px 5px 7px #a5a5a5;
}
.img-slide {
  width: 470px;
  height: 410px;
  border-radius: 60px;
  background: #c6ad80;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}
.slide-img {
  height: 100%;
  width: 100%;
  border-radius: 60px;
  background: #c6ad80;
  object-fit: cover;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1000px) {
  .heading-merch {
    font-size: 50px;
  }
  .merch-head-text {
    width: 43%;
  }
}
@media only screen and (max-width: 900px) {
  .heading-merch {
    font-size: 38px !important;
  }
}
@media only screen and (max-width: 700px) {
  .merch-head-text {
    margin-bottom: 40px;
    width: 45%;
    margin: 0px;
    padding-bottom: 22px;
  }
  .heading-merch {
    font-size: 36px !important;
  }
  .heading-merch {
    font-size: 35px !important;
  }
  .para-merch {
    font-size: 20px;
  }
}
@media only screen and (max-width: 720px) {
  .heading-merch {
    font-size: 35px !important;
  }
  .para-merch {
    font-size: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .header-module {
    height: 950px;
    margin-top: 0px;
  }
  .merch-header {
    height: 1050px !important;
  }
  .merch-head-text {
    width: 100%;
    margin: 0px;
  }

  .para-merch {
    width: 100%;
    font-size: 18px !important;
  }
  .mh-content {
    flex-direction: column-reverse !important;
    height: 750px;
    justify-content: space-evenly;
  }
  .mh-right {
    width: 100% !important;
    height: 50%;
  }
  .mh-left {
    width: 100% !important;
    height: 45%;
  }

  .img-slide {
    height: 300px !important;
  }
  .m-logo {
    position: unset;
  }
  .merch-header-bg {
    height: 70%;
    position: absolute;
    bottom: 0px;
  }

  .buy-now {
    width: 110px;
    height: 35px;
    font-size: 14px;
  }
}
