/*COMMUNITY GALLERY REVEALER SECTION */
.community-gallery-revealer-section {
  width: 100%;
}

.community-gallery-revealer-wrapper {
  width: 100%;
  /* border: 1px solid red; */
  /* max-width: 1048px; */
  margin: 170px auto;
  /* height: 100%; */
}

.community-gallery-revealer-title h1 {
  font-size: 20px;
  text-align: center;
}

.community-slider {
  display: none;
  width: 95%;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.community-gallery-revealer-title {
  /* border: 1px solid green; */
  font-size: 30px;
  text-align: center;
}

.revealer-wrapper {
  width: 85%;
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.revealer-wrapper-load {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 2000px) {
}

.community-gallery-revealer-section h1 {
  font-size: 142px;
  font-weight: bold;
}

.revealer-gray {
  height: 220px;
  width: 140px;
  /* border: 2px solid grey; */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
  margin: 20px;
}

.revealer-black {
  height: 280px;
  border: 2px solid black;
  width: 350px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-pic {
  /* height: 100%; */
  width: 100%;
  border-radius: 15px;
}

.member-logo {
  height: 100%;
  width: 100%;
  /* border-radius: 25px; */
}

@media only screen and (max-width: 320px) {
  .revealer-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    /* border: 1px solid red; */
  }

  .revealer-row {
    flex-wrap: wrap;
  }

  .my-revealer-gray {
    height: 280px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .revealer-img-div {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .revealer-black {
    height: 280px;
    border: 2px solid black;
    max-width: 350px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1110px) {
  .right h1 {
    font-size: 50px !important;
  }
}

/* OUR PARTNERS SECTION */
.our-partners-main {
  margin: 0px 0px 150px 0px;
}
.our-partners-title h5,
.our-partners-title h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.our-partners-title h1 {
  font-size: 108px;
  font-weight: bold;
}
.start {
  margin-top: 50px;
}
.our-partners-content-area {
  height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.our-partners-content-area > img {
  padding-right: 100px;
  padding-left: 100px;
}
@media only screen and (min-width: 1105px) {
  .box-image1 {
    display: none !important;
  }
}
@media only screen and (max-width: 1104px) {
  .cp-box-image {
    display: none;
  }
  .cp-box-image1 {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  .our-partners-title h1 {
    font-size: 70px !important;
  }
}

/* COLOURFULL BOXES SECTION */
.cp-box-image {
  height: 350px;
  width: 450px;
  background-image: url("../images/work-hall-voyages/voyage-1.jpg");
  border-radius: 30px;
  position: absolute;
  right: 20px;
}

@media only screen and (max-width: 1110px) {
  .cp-box-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/work-hall-voyages/voyage-1.jpg");
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-attachment: fixed;
  }
}

.cp-box-image1 {
  height: 350px;
  width: 450px;
  background: url("../images/power-mixer.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  position: absolute;
  left: 20px;
}
@media only screen and (max-width: 1110px) {
  .cp-box-image1 {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/power-mixer.JPG") no-repeat;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
    background-color: rgba(255, 255, 255, 0.49);
    background-blend-mode: overlay;
    background-attachment: fixed;
  }
}

.colourfullboxes-section {
  min-height: unset !important;
}
.community-box-title h3 {
  font-size: 40px !important;
}

.community-box-text {
  /* margin-top: 20px; */
  margin: 20px;
}

@media screen and (max-width: 750px) {
  .revealer-wrapper {
    width: 100%;
  }
  .community-gallery-revealer-title > span {
    /* border: 1px solid red; */
    font-size: 30px;
    text-align: center;
  }
  /* .revealer-wrapper{
  display: none;
} */

  .community-slider {
    display: block;
    margin: 10px;
  }

  .color-primary {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
}
.cm-name-heading {
  font-size: 20px !important;
}
.cm-head {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
