.blog-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-page {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 3.5%;
}
/* Header Image */
.Blog-img-div {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* width: 600px; */
  /* height: 400px; */
}
/* blogger info */
.Blog-blogger-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: c; */
  align-items: center;
  margin: 50px 0px;
}
.Blogger-img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}
.blogger-detail {
  margin-left: 20px;
}
.blogger-detail p {
  margin-bottom: 0rem;
}
.blog-head {
  height: 100%;
  width: 100%;
  margin: 20px 0px;
}
.blog-heading {
  font-size: 35px;
  font-weight: 700;
}
.b-colors-div {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #085ca8, #085ca8, #31348e);
  text-align: center;
  text-align: center;
  height: 30px;
  width: 15%;
}
.b-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #80b541, #80b541, #359c49);
  text-align: center;
  text-align: center;
  height: 30px;
  width: 15%;
}
.b-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #feca04, #feca04, #ee6a20);
  text-align: center;
  height: 30px;
  width: 15%;
}
.b-red {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ca312b, #ca312b, #ec6224);
  text-align: center;
  height: 30px;
  width: 15%;
}
.b-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #0c78be, #a90cbe, #6c308e);
  height: 30px;
  width: 15%;
}
.blog-paras {
  width: 100%;
  height: 100%;
}
.share {
  height: 100%;
  width: 40%;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.share-text {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0rem;
}
.share-div {
  width: 100%;
}
.b-social-btn:focus {
  outline: none;
  box-shadow: none;
}
.b-tags {
  margin-bottom: 0rem;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.b-para {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.b-para h1 {
  font-size: 18px;
  font-weight: 700;
}
/* Media Quary */
@media only screen and (max-width: 500px) {
  .Blog-img-div {
    height: 230px;
  }
  .share {
    width: 100%;
  }
  .blog-heading {
    font-size: 18px !important;
    font-weight: 700;
  }
  .Blogger-img {
    height: 50px !important;
    width: 50px !important;
  }
  .b-colors-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .b-blue {
    width: 30%;
    margin-bottom: 5px;
  }
  .b-green {
    width: 30%;
    margin-bottom: 5px;
  }
  .b-yellow {
    width: 30%;
    margin-bottom: 5px;
  }
  .b-red {
    width: 30%;
    margin-bottom: 5px;
  }
  .b-purple {
    width: 30%;
    margin-bottom: 5px;
  }
  .b-tags {
    font-size: 10px !important;
  }
}
