*{
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family:"Autumn in November";
    src: url("../fonts/Autumn in November.ttf");
  }

@font-face {
    font-family:"AvenirNextLTPro-It";
    src: url("../fonts//AvenirNextLTPro-It.otf");
  }
  



.modal-container{
  border: 1px solid white;
    /* min-width:315px ; */
    flex: 1;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    bottom: 0;
    /* overflow: scroll; */
}

/* .modal-centered{
    width: 60%;
    max-height: 551px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
} */

.modal-border-wrap {
    /* min-width: fit-content; */
    border-radius: 15px;
    display: flex;
    position:fixed;
    flex-direction: column;
    background: linear-gradient(to right, #5D2980,#EB9840, #EB9840,#EB9840);
    padding: 5px;
    height: auto;
    width: auto;
    overflow: scroll;
    /* background-color: fuchsia; */
  }

  .modal-div{
    /* box-sizing: border-box; */
    max-width: 458px;
    padding: 30px;
    height:  100%;
    border-radius: 15px;
    background-color:#FFFFFF ;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .modal-div::-webkit-scrollbar{
    display: none;
  }
  .modal {
    box-sizing: border-box;
    max-width: 458px;
    padding: 30px;
    /* height:  inherit; */
    border-radius: 15px;
    background-color:#FFFFFF ;
    /* display: flex; */
    width: 100%;
    height: 400px;
    /* flex-direction: column;
    justify-content: space-evenly; */
    border: 1px solid white;
  }


.modalr1,.modalr2,.modalr3,.modalr4,.modalr5,.modalr6 {
    display: flex;
    flex-direction: column;
}
.modalr1 p{
    font-family:"Autumn in November";
    align-self: center;
    font-size: 30px;
}

.modalr6 p{
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    text-align: justify;
  }

.modalr2,.modalr3,.modalr4,.modalr5,.modalr6,.modalr7{
    font-family: AvenirNextLTPro-It; 
    font-size: 12px;
    color:#818284 ;
  } 

 [type$="text"],[type$="email"]{
     height: 29px;
     width: 180px;
     margin-top: 10px;
     margin-right: 5px;
     margin-bottom: 15px;
     background-color: #DBDBDB;
     border: none;
     padding: 5px;
  }

  #Locations,#Plans{
    height: 39px;
    width: 190px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    background-color: #DBDBDB;
    border: none;
    padding: 5px;
    color: #818284;
  }

  
.modalr7{
    display: flex;
    justify-content: center;
}



/*Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 3em;
  cursor: pointer;
}

label{
width: 85%;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  background-color: #97B2BF;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: -.11em; left: -.12em;
  font-size: 1.3em;
  line-height: 0.8;
  color: white;
  margin-right: 20px;
  background-color:  #EB9840;
  border: unset;
  border: 5px solid #EB9840;
  border-radius: 5px;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */

[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #97B2BF;
}

[type="checkbox"]:checked:focus + label:before{
    border: 2px solid #F7921C;
}


/* hover style just for information */
label:hover:before {
  border: 2px solid  #F7921C !important;
}


.gradient-btn{
    width: 308px;
    height: 38px;
    color: white !important;
    text-transform: uppercase;
    background: linear-gradient(to right, #68318F, #EF4537,#F57E2A);
    border: none;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-top: 20px;
}



@media screen and (max-width:428px){

  .modal-border-wrap{
    display: flex;
    /* height: 100%; */
    /* border: 1px solid #F57E2A; */
    /* position: fixed; */
  }
  .modal-container{
    /* height: 100%; */
    /* overflow: auto; */
    border: 2px solid #EF4537;
    
  }
  .modal-div{
    padding: 30px;
    /* height: 100vh; */
    overflow: scroll;
  }
 
  .modalr1,.modalr2,.modalr3,.modalr4,.modalr5,.modalr6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .modalr1 div,.modalr2 div,.modalr3 div,.modalr4 div,.modalr5 div,.modalr6 div  {
    display: flex;
    width: unset;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* background-color: red;  */
}

.modalr2 p,.modalr3 p,.modalr4 p,.modalr5 p{
  align-self: flex-start;
  margin-top: 5px;
}

.modalr6 p{
  display: flex;
  justify-content: center;
}

[type$="text"],[type$="email"]{width: 100%;}
#Locations,#Plans{width: 100%;}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  padding-left: 1.5rem;
  font-size: 10px;
  width: 100%;
}

.gradient-btn {
  width: 100%;
}
}