/* STORY PAGE SLIDER SECTION */
@media only screen and  (min-width:768px)      
{
  .sp-slider
  {
    width:100%;
  }
  .sp-slider-box-border-wrap-1 
  {
     max-width: 290px !important;
  }
  .sp-slider-box-border-wrap-2 
  {
    max-width: 290px !important;
  } 
  .sp-slider-box-border-wrap-3 
  {
    max-width: 290px !important;
  }  
}

@media only screen and  (max-width:320px)      
{
  .sp-slider
  {
    width:100%;
  }

  .sp-slide 
  {
    height: 340px !important;    
  }

  .slider-box img
  {
    margin: 0px  !important;
  }
  
  .slider-box-text
  {
    text-align: center !important;
    margin: 0px !important;
    font-size: 14.5px !important;
  }
}


.sp-slider-box-border-wrap{
  width: fit-content !important;
  padding: 1rem;
  position: relative;
  background-color: grey;
  padding: 3.5px;
  border-radius: 20px;
}

@media screen and (max-width:786px){
  .sp-slide{
    width: 210px !important;
  }
  
}

.sp-slider-box-border-wrap-active {
  width: fit-content !important;
  padding: 1rem;
  position: relative;
  background-color: black; 
  padding: 3.5px;
  border-radius: 20px;
}



 .sp-slider
{
  display: flex;
  align-items: center;
  margin-top: 80px;
}



.sp-slide {
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background: white !important;
}

.sp-slide-mousein
{
   height: inherit;
   width: 200px;
   margin-bottom: 0px;
   border-radius: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: justify;
   font-size: 14px;
   font-weight: bold !important;
}

.sp-slide-mouseout{
   display:flex;
   flex-direction: column ;
   justify-content: center;
   align-items: center;
   height: inherit;
   width: inherit;
   border-radius:inherit;
   text-align: center;
   filter:unset ;
   position: unset;
}

.sp-slide-mouseout:hover{
  filter: blur(5px);
  position: absolute;
}

.sp-slide-mouseout img
{
  width: 150px;
  height: 150px;
}
.sp-slide-mouseout p
{
 margin: 20px;
}






/* .slider-box-title {
  font-size: 27px;
  font-weight: bold;
  font-family: bold;
  margin: 20px 0px auto;
}

.slider-box-text {
  font-size: 17px;
  text-align: center;
  font-family: regular;
  margin: 30px 0px auto;
} */





.slider-section-content .span-red 
{
  color: #EE1D23;
  font-weight: bold;
  font-family: bold;
  letter-spacing: 18px;
  font-size: 25px;
}


.slider-section-content .missiontext 
{
  font-family: regular;
  font-size: 18px;
  text-align: left;
  text-align: center;
}








 

