.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.active {
  font-weight: 800;
  color: white;
  /* background-color: #c1242b; */
  margin: 0px 5px auto;
}
.divider1 {
  height: 1px;
  width: 100%;
  background-color: grey;
  position: fixed;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: white;
}

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  font-size: 30px;
}

.side-drawer ul {
  margin-top: 30px;
}
.side-drawer.open {
  transform: translateX(0);
  font-size: 30px;
}

nav .side-drawer.open a.active {
  font-weight: 800;
  color: white;
  background-color: #c1242b;
  margin: 0px 5px auto;
}

.side-drawer.open ul {
  margin-top: 30px;
}

.side-drawer.open ul a {
  margin-left: 30px;
}
.side-drawer.open ul :hover {
  background-color: #c1242b;
  color: lightgray;
}
