.bg-image {
  margin-top: 40px;
}

.back-img {
  height: 100%;
  width: 100%;
}

/* Program Details */

.program-details {
  /* justify-content: center; */
  margin-left: 65px;
  width: 85%;
}
.head1 #anchor-tag {
  color: black !important;
  cursor: pointer;
  font-weight: bold;
}
.head2 #anchor-tag2 {
  color: black !important;
  cursor: pointer;
}

.back-images {
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  margin-left: 20px;
  justify-content: space-around;
}

.header-container {
  margin-left: 20px !important;
}

.header-container p {
  width: 70%;
}

.image-container {
  position: relative;
}

.e-btn {
  border-radius: 5px !important;
  background-color: #6b3590 !important;
  color: white !important;
  padding: 10px 25px;
  border-style: none;
}

.margin {
  width: 30%;
  height: 23%;
}

.myimg {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.img-big-width {
  position: absolute;
  left: 166px;
  top: -2px;
}

.cr-h {
  font-weight: bold;
  color: #53255f;
}

.vertical-height {
  height: 500px;
}

.background-color {
  background-image: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #fcf2ff 100%
  );
  margin-top: 30px;
  width: 100% !important;
}

.video-content {
  width: 100%;
}

.video {
  border-radius: 20px;
}

.vd-cn-head {
  font-size: 20px;
  font-weight: 900;
}

.back-third-images {
  display: flex;
  justify-content: space-around;
}

.back-third-first {
  align-self: flex-start;
}

.back-third-second {
  align-self: flex-end;
  width: 20%;
}

.height {
  height: 496px;
}

.img-big {
  position: absolute;
  top: 142px;
  right: 103px;
}

.content-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.content-headings h2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.head1,
.head2 {
  /* font-size: 2em !important; */
  cursor: pointer;
}

.head1:hover {
  text-decoration: underline;
}

.head2:hover {
  text-decoration: underline;
}

.divider-margin {
  height: 31px !important;
  margin: 0 10px;
  opacity: 0.3;
}

.head2 {
}

.head3 {
  font-size: 22px;
  color: #b3b3b3;
}

.divider {
  display: flex;
}

.purple-divider {
  height: 2px;
  width: 220px;
  background: #53255f;
  margin-left: 35px;
  margin-bottom: 20px;
}

.grey-divider {
  height: 2px;
  width: 350px;
  background: lightgrey;
}

.detail {
  background: white;
  height: inherit;
  width: 100%;
  margin: 30px;
  box-shadow: 0px 0px 25px #a39d9d !important;
  /* padding: 30px; */
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.detail-text {
  font-size: 20px;
}

.detail-space {
  width: 330px;
  margin: 15px;
  /* background: red; */
  justify-content: space-between;
}

.points {
  display: flex;
  align-items: flex-start;
  line-height: 35px;
  margin: 30px;
}

/* info section */

.all-details {
  padding-left: 18px;
}

.video-text {
  width: 55%;
  height: inherit;
  margin-left: 50px;
}

.v-head {
  font-size: 28px;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.vertical-divider {
  height: inherit;
  width: 1px;
  background: rgb(80, 65, 65);
}

.v-text {
  font-size: 22px;
  margin-right: 50px;
}

/* review */

.review {
  margin: 50px;
}

.review-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.r-head h1 {
  font-weight: bold;
  color: #53255f;
}

.stars {
  margin-top: 20px;
  margin-left: 100px;
}

/* review div */

.review-bg {
  margin-top: 100px;
  height: 500px;
  /* background: red; */
  overflow: auto;
  padding-right: 20px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.user-image {
  border-radius: 20px;
}

.r-text {
  background: #e4dce6;
  width: 280px;
  margin-left: 10px;
  line-height: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 30px;
}

.re-head {
  font-size: 20px !important;
  font-weight: bold !important;
}

.r-comment {
  line-height: 15px;
}

/* scrollbar */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(153, 151, 151);
}

/* INSTRUCTOR INFO */

.instructor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.i-details {
  margin-top: 25px;
}

.i-social {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: space-around;
}

.i-text {
  width: 400px;
  margin-top: 40px;
}

.video-tag {
  margin-bottom: 15px;
  width: 0px;
  height: 500px;
}

.techer-section {
  margin: 25px 0;
}

.teacher-info {
  display: flex;
  margin: 68px 0;
  justify-content: space-evenly;
  align-items: flex-start;
}

.teacher-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60;
  width: 50%;
}

.teacher-qualificaiton p {
  font-size: 23px;
  font-weight: 900;
}

.teacher-image {
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.teacher-image img {
  width: 29%;
  border: 2px dashed black;
  border-radius: 24rem;
}

.horizontal-divider {
  background-image: linear-gradient(to right, #f4f6f7, #a4b6b4, #f4f6f7);
  width: 100%;
  height: 1px;
}

.teacher-details h2 {
  font-size: 40px;
  font-weight: bold;
}

.teacher-image a {
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute !important;
  top: 80px !important;
  right: 2px !important;
  font-size: 17px !important;
  background-color: cornflowerblue !important;
  color: white !important;
  padding: 10px;
  border-radius: 12rem;
}
.img-big-myimg {
  width: 372px;
  height: 317px;
  border-radius: 3rem;
}

/* media quary */

@media only screen and (max-width: 760px) {
  .video-content-margin {
    margin-bottom: 240px;
    margin-top: 68px;
  }
  .img-big {
    top: 118px !important;
    right: 123px !important;
  }
  .vd-cn-p {
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {
  .program-details {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  .vertical-divider {
    width: 2px !important;
  }
  .content-headings {
    margin-left: 0px !important;
    display: flex;
    justify-content: center;
    padding-left: 38px !important;
  }
  .head1,
  .head2,
  .head3 {
    font-size: 15px !important;
    display: flex;
  }
  .purple-divider {
    margin-left: 0px !important;
    width: 120px;
  }
  .video-tag {
    margin-bottom: 15px;
    width: 290px;
    height: 180px;
  }
  .all-details {
    padding-left: 0px;
  }
  .detail {
  }
  .video-text {
    width: 100% !important;
    margin-left: 30px;
  }
  .v-info {
    max-width: 100% !important;
  }
  .r-head h1 {
    font-size: 25px !important;
  }
  .review {
    margin: 5px;
  }
  .review-bg {
    margin-top: 100px;
    height: 500px;
    /* background: red; */
    overflow: auto;
    padding-right: 10px;
  }
  .i-text {
    width: 275px;
    margin: 40px;
    text-align: justify;
  }
  .love-by {
    margin-left: 20px;
  }
  .v-text {
    font-size: 15px;
    text-align: justify;
  }
  .instructor {
    margin-left: 30px;
  }
  .i-name {
    font-weight: bold !important;
    margin-left: 20px;
  }
}

.cr-sm {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cr-sm-topheading {
  width: 100%;
  margin-left: 44px;
  margin-bottom: 20px;
}

.divider-p {
  height: 100%;
  width: 20px;
  position: relative;
}

.vertical-divider-paragraph {
  height: inherit;
  width: 1px;
  background: rgb(80, 65, 65);
}

.cr-sm-paragraph {
  display: flex;
  width: 94%;
  justify-content: space-evenly;
}

.para-head {
  display: flex;
  align-items: flex-start;
  width: 40%;
  justify-content: flex-end;
  margin-top: 31px;
}

.para-head-h1 {
  font-weight: bold;
  margin-right: 13px;
}

.cr-sm-side-content {
  width: 43%;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-bottom: 75px;
}

.radius {
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 42px;
  /* bottom: 49px; */
  /* left: 20px; */
  /* top: 16px; */
  /* right: 13px; */
  /* bottom: 2px; */
  /* left: 2px; */
  left: -9px;

  background-color: #53255f;
}

.cr-sm-side-content-p {
  font-size: 16px;
  list-style: none;
}

.cr-sm-side-content h1 {
  font-weight: bold;
  font-size: 32px;
}

.cr-sm-topheading h1 {
  font-weight: bold;
  font-size: 45px;
}

.cr-sm-topheading h2 {
  font-size: 37px;
  margin-bottom: 18px;
}

@media only screen and (max-width: 954px) {
  .cr-sm-side-content h1 {
    text-align: center !important;
    padding: 0 5px !important;
    font-size: 28px !important;
  }
  .back-third-second {
    width: 59%;
  }
  .img-big-myimg {
    width: 334px !important;
    height: 265px !important;
  }
  .img-big {
    top: 150px;
    right: -40px;
  }
}

@media only screen and (max-width: 868px) {
  .cr-sm-paragraph {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 70px;
  }
  .para-head {
    width: 100%;
    justify-content: center;
  }
  .divider-p {
    height: 47%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .radius {
    top: 17px !important;
    left: 0px;
    bottom: 64px;
    width: 16px !important;
    height: 16px !important;
  }
  .cr-sm-side-content {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* margin-left: 14px; */
    /* margin-bottom: 75px; */
    margin-top: -55px;
  }
  .cr-sm-side-content-p {
    font-size: 12px;
    /* display: flex; */
    width: 85%;
    text-align: center;
  }
  .video {
    width: 368px;
    height: 200px;
  }
}

@media only screen and (max-width: 1007px) {
  .radius {
    bottom: 160px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .radius {
    bottom: 137px !important;
  }
  .img-big-width {
    left: 147px !important;
    top: 22px !important;
  }
  .img-big-myimg {
    width: 319px !important;
    height: 311px !important;
  }
  .cr-h {
    font-size: 31px;
  }
  .e-btn {
    font-size: 20px;
  }
  .video {
    width: 460px;
    height: 284px;
  }
  .teacher-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teacher-image a {
    top: 253px !important;
    right: 9px !important;
    font-size: 28px !important;
  }
  .teacher-image img {
    width: 100% !important;
  }
  .teacher-details {
    width: 81%;
    align-items: center;
    justify-content: center;
  }
  .teacher-details p {
    text-align: center;
  }
}

@media only screen and (max-width: 990px) {
  .img-big-width {
    left: 230px !important;
    top: 28px !important;
  }
  .myimg {
    width: 400px !important;
    height: 265px !important;
  }
  .video {
    width: 345px;
    height: 217px;
  }
  .teacher-image img {
    width: 60%;
  }
  .teacher-image a {
    top: 228px !important;
    right: 15px !important;
    font-size: 28px;
    font-size: 30px !important;
    padding: 7px !important;
  }
  .e-btn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .teacher-image img {
    width: 46%;
  }
  .teacher-image a {
    top: 146px !important;
    right: -2px !important;
  }
  .techer-section {
    margin: 186px 0;
  }
}
@media only screen and (max-width: 510px) {
  .teacher-image img {
    width: 69%;
  }
  .teacher-image a {
    top: 145px !important;
    right: 5px !important;
  }
  .techer-section {
    margin: 60px 0;
  }
}

@media only screen and (max-width: 420px) {
  .teacher-image img {
    width: 88%;
  }
  .teacher-image a {
    top: 86px !important;
    right: -10px !important;
    font-size: 20px !important;
  }
  .techer-section {
    margin: 60px 0;
  }
}

@media only screen and (max-width: 1560px) {
  .radius {
    bottom: 138px;
  }
}

@media only screen and (max-width: 1280px) {
  .radius {
    bottom: 150px !important;
  }
  .program-details {
    margin-left: 41px;
  }
  .detail {
    justify-content: center;
  }
}

@media only screen and (max-width: 868px) {
  .radius {
    width: 20px !important;
    height: 20px !important;
    left: 0 !important;
    bottom: 0;
    bottom: 0 !important;
    right: 0 !important;
    display: flex;
    align-items: center;
  }
  .header-container {
    margin-left: 0 !important;
  }
  .image-container {
    align-items: center;
    margin: 0 auto;
  }
  .myimg {
    width: 405px !important;
    height: 253px !important;
  }
  .img-big-width {
    left: 217px !important;
    top: 27px;
  }
  .cr-h {
    font-size: 24px !important;
  }
  .header-container p {
    width: 55%;
    font-size: 15px;
  }
  .e-btn {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .back-images {
    margin-left: 0;
  }
  .vertical-divider-paragraph {
    height: 56px !important;
  }
}

@media only screen and (max-width: 760px) {
  .myimg {
    width: 296px !important;
    height: 262px !important;
  }
  .img-big-width {
    left: 201px !important;
    top: 20px !important;
  }
  .margin {
    width: 25%;
  }
  .video {
    width: 560px;
    height: 315px;
  }
}

@media only screen and (max-width: 577px) {
  .img-big {
    top: 136px;
    right: 120px;
  }
  .image-container {
    margin: 26px 0;
    display: flex;
    justify-content: center;
  }
  .vd-cn-p {
  }
}

@media only screen and (max-width: 600px) {
  .detail {
    margin-top: 47px !important;
    margin-bottom: 47px !important;
    height: 500px;
    overflow: scroll;
  }
}

@media only screen and (max-width: 450px) {
  .detail {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .header-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header-container p {
    width: 100% !important;
  }
  .detail {
  }
  .e-btn {
    font-size: 8px !important;
  }
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .program-details {
    padding-left: 0 !important;
  }
  .video {
    width: 320px !important;
    height: 245px !important;
  }
  .vd-cn-head {
    font-size: 25px !important;
  }
  .myimg {
    width: 214px !important;
    height: 197px !important;
  }
  .img-big-width {
    left: 105px !important;
    top: -10px !important;
  }
  .back-images {
    justify-content: flex-start;
  }
  .img-width {
    width: 60%;
  }
  .margin {
    width: 31%;
  }
  .img-big {
    top: 93px !important;
    right: -6px !important;
  }
  .img-big .img-big-myimg {
    width: 229px !important;
    height: 237px !important;
  }
  .back-third-second {
    width: 47% !important;
  }
  .height {
    width: 235px !important;
    height: 396px !important;
  }
  .cr-sm-topheading {
    margin-left: 25px;
  }
  .back-third-first {
    width: 70% !important;
  }
}
@media only screen and (max-width: 400px) {
  .myimg {
    width: 180px !important;
    height: 195px !important;
  }
  .img-big-width {
    left: 83px !important;
    top: -10px !important;
  }
  .e-btn {
    font-size: 10px !important;
    padding: 5px !important;
  }
}
@media only screen and (max-width: 325px) {
  .img-big {
    top: 93px !important;
    right: -6px !important;
  }
  .myimg {
    width: 180px !important;
    height: 164px !important;
  }
}

@media only screen and (max-width: 760px) {
  .flx-box {
    display: flex !important;
    flex-direction: column-reverse;
  }
  .vertical-height {
    height: auto !important;
  }
  .vd-cn-head {
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .radius {
    bottom: 73px !important;
  }
}

@media only screen and (max-width: 538px) {
  .radius {
    bottom: 64px !important;
  }
  .cr-sm-topheading h2 {
    font-size: 23px;
    margin-bottom: 9px;
  }
  .cr-sm-topheading h1 {
    font-weight: bold;
    font-size: 28px !important;
  }
}

@media only screen and (max-width: 378px) {
  .radius {
    bottom: 93px;
  }
  .cr-sm-topheading h2 {
    font-size: 24px;
    margin-bottom: 9px;
  }
  .cr-sm-topheading h1 {
    text-align: center !important;
    padding: 5px;
    font-weight: bold;
    font-size: 27px !important;
  }
  .cr-sm-side-content h1 {
    text-align: center !important;
    padding: 0 5px !important;
    font-size: 18px !important;
  }
}
